.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media all and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
